{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 9,
          "safari": 8,
          "node": 6
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "transform-react-remove-prop-types",
    ["import", { "libraryName": "antd-mobile", "style": "css" }]
  ]
}
